# Flask Settings
SECRET_KEY=your-secret-key-here
# Use 'aetherreader.com' for production, or 'localhost' for local testing
RP_ID=localhost 

# Google Drive API
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Dropbox API
DROPBOX_APP_KEY=your-dropbox-app-key
DROPBOX_APP_SECRET=your-dropbox-app-secret

# Nextcloud Settings
NEXTCLOUD_INSTANCE_URL=https://your-nextcloud-instance.com
NEXTCLOUD_CLIENT_ID=your-nextcloud-client-id
NEXTCLOUD_CLIENT_SECRET=your-nextcloud-client-secret
NEXTCLOUD_USER=your-nextcloud-username
